# This is the example environment file for the project, here you can know the variables that you need to set up in your environment.

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here
CLERK_SECRET_KEY=your_clerk_secret_key_here
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/auth/iniciar-sesion
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/auth/registrarse
NEXT_PUBLIC_METABASE_TOKEN=your_metabase_token_here
