**/.classpath
**/.containers
**/.dockerignore
**/.env.example
**/.git
**/.gitignore
**/.github
**/.gitattributes
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/*.binlog
**/*.DotSettings.user
**/scripts
**/coverage
**/coverage.cobertura.xml
**/.config
**/.netconfig
**/package.json
**/pnpm-lock.yaml
**/release.config.js
**/efbundle
**/logs
**/LICENSE
**/README.md
**/CONTRIBUTING.md
**/CHANGELOG.md
**/railway.json
**/launchSettings.json
**/tests
