# This is the example environment file for the project, here you can know the variables that you need to set up in your environment.

# Cloudinary configuration - Please replace with your own credentials
Cloudinary__ApiKey=your-cloudinary-api-key
Cloudinary__ApiSecret=your-cloudinary-api-secret
Cloudinary__CloudName=your-cloudinary-cloud-name
Clerk__SecretKey=you-clerk-secret-key
